@import "./colors.scss";

main {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  margin: auto;

  .centerBlock {
    margin: auto;
    text-align: center;
  }
}

.players {
  display: flex;
  flex-flow: row wrap;
}

.player {
  margin: 1rem auto;
  padding: 3rem;
}

[data-winner="true"] {
  background-color: #16831d;
}

a {
  color: rgb(255, 80, 109);
}
