@import "./colors.scss";

.btn {
  background-color: $white1;
  color: $grey1;
  padding: 0.5em 1em;
  margin: 0.5em auto;
  text-decoration: none;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  background-color: $grey1;
  color: $white2;
}

.btn:active {
  background-color: $white2;
  color: $black;
}
