@import "./colors.scss";

a.btn {
  background-color: $white1;
  color: $grey1;
  // border: 3px solid $grey3;
  // border-radius: 8px;
  padding: 0.5em 1em;
  margin: 0 auto;
  text-decoration: none;
}

a.btn:hover,
a.btn:focus {
  background-color: $grey1;
  color: $white2;
  // border-color: $grey4;
}

a.btn:active {
  background-color: $white2;
  color: $black;
}
