$black: rgba(32, 32, 32, 1);
$grey1: rgba(45, 45, 45, 1);
$grey2: rgba(92, 99, 112, 1);
$grey3: rgba(127, 132, 142, 1);
$grey4: rgba(200, 200, 200, 1);
$white1: rgba(255, 255, 255, 1);
$white2: rgba(199, 250, 208, 1);
$red1: rgba(244, 71, 71, 1);
$red2: rgba(244, 108, 117, 1);
$red3: rgba(229, 71, 116, 1);
$red4: rgba(248, 104, 131, 1);
$yellow1: rgba(229, 192, 123, 1);
$yellow2: rgba(235, 228, 100, 1);
$yellow3: rgba(220, 210, 23, 1);
$green1: rgba(162, 207, 144, 1);
$green2: rgba(121, 195, 125, 1);
$green3: rgba(96, 145, 101, 1);
$green4: rgba(144, 207, 163, 1);
$blue1: rgba(0, 148, 188, 1);
$blue2: rgba(123, 200, 229, 1);
$blue3: rgba(24, 94, 137, 1);
$blue4: rgba(123, 166, 229, 1);
