@import "./styles/colors.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
  }
}
